In [6]:
import os
from dotenv import load_dotenv
import pandas as pd
from sqlalchemy import create_engine

load_dotenv()

DB_URL = os.getenv("DATABASE_URL")
engine = create_engine(DB_URL)

df_db = pd.read_sql("SELECT * FROM weather_data;", engine)

csv_path = r"C:\weather_monitoring_project\Data\live_raw.csv"

if not os.path.isfile(csv_path):
    df_db.to_csv(csv_path, mode='w', header=True, index=False)
    print("CSV created with headers.")
else:
    df_db.to_csv(csv_path, mode='a', header=False, index=False)
    print("New rows appended without header.")

CSV created with headers.

In [7]:
df = pd.read_csv(r"C:\weather_monitoring_project\Data\live_raw.csv")

In [8]:
df.head()

,id,city,timestamp,temperature,humidity,wind_speed,pm10,pm2_5,nitrogen_dioxide,ozone
0,1,Ahmedabad,2025-11-15 18:46:38.567400+00:00,20.2,46.0,3.500000,35.85,34.75,26.85,72.0
1,2,Bengaluru,2025-11-15 18:46:38.376559+00:00,20.2,88.0,2.888889,44.85,43.15,36.95,53.0
2,3,Bhopal,2025-11-15 18:46:38.737303+00:00,18.0,28.0,2.000000,56.95,50.35,20.45,76.0
3,4,Chennai,2025-11-15 18:46:38.355079+00:00,27.0,84.0,5.611111,59.25,50.05,8.05,113.0
4,5,Dehradun,2025-11-15 18:46:38.785387+00:00,11.4,55.0,2.194444,53.05,51.85,34.55,105.0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                3900 non-null   int64
 1   city              3900 non-null   object
 2   timestamp         3900 non-null   object
 3   temperature       3900 non-null   float64
 4   humidity          3900 non-null   float64
 5   wind_speed        3900 non-null   float64
 6   pm10              3900 non-null   float64
 7   pm2_5             3900 non-null   float64
 8   nitrogen_dioxide  3900 non-null   float64
 9   ozone             3900 non-null   float64
dtypes: float64(7), int64(1), object(2)
memory usage: 304.8+ KB