In [11]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os


raw_csv = r"C:\weather_monitoring_project\Data\live_raw.csv"

df = pd.read_csv(raw_csv)
df

,id,city,timestamp,temperature,humidity,wind_speed,pm10,pm2_5,nitrogen_dioxide,ozone
0,1,Ahmedabad,2025-11-15 18:46:38.567400+00:00,20.2,46.0,3.500000,35.85,34.75,26.85,72.0
1,2,Bengaluru,2025-11-15 18:46:38.376559+00:00,20.2,88.0,2.888889,44.85,43.15,36.95,53.0
2,3,Bhopal,2025-11-15 18:46:38.737303+00:00,18.0,28.0,2.000000,56.95,50.35,20.45,76.0
3,4,Chennai,2025-11-15 18:46:38.355079+00:00,27.0,84.0,5.611111,59.25,50.05,8.05,113.0
4,5,Dehradun,2025-11-15 18:46:38.785387+00:00,11.4,55.0,2.194444,53.05,51.85,34.55,105.0
...,...,...,...,...,...,...,...,...,...,...
5095,5096,Lucknow,2025-12-01 06:56:21.755872+00:00,24.3,29.0,3.194444,77.95,77.45,17.35,49.0
5096,5097,Mumbai,2025-12-01 06:56:21.519546+00:00,31.4,31.0,1.388889,50.65,50.35,36.05,51.0
5097,5098,Patna,2025-12-01 06:56:21.761802+00:00,25.2,47.0,3.611111,99.35,99.15,22.35,47.0
5098,5099,Pune,2025-12-01 06:56:21.688999+00:00,26.3,33.0,2.000000,52.65,52.15,18.25,84.0
5099,5100,Surat,2025-12-01 06:56:21.924531+00:00,28.9,33.0,3.305556,43.85,43.45,16.35,65.0

In [12]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5100 entries, 0 to 5099
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                5100 non-null   int64
 1   city              5100 non-null   object
 2   timestamp         5100 non-null   object
 3   temperature       5100 non-null   float64
 4   humidity          5100 non-null   float64
 5   wind_speed        5100 non-null   float64
 6   pm10              5100 non-null   float64
 7   pm2_5             5100 non-null   float64
 8   nitrogen_dioxide  5100 non-null   float64
 9   ozone             5100 non-null   float64
dtypes: float64(7), int64(1), object(2)
memory usage: 398.6+ KB

,id,temperature,humidity,wind_speed,pm10,pm2_5,nitrogen_dioxide,ozone
count,5100.000000,5100.000000,5100.000000,5100.000000,5100.000000,5100.000000,5100.000000,5100.000000
mean,2550.500000,21.786176,59.234510,2.804897,67.583373,65.562353,23.572020,99.554118
std,1472.387517,5.104790,19.535554,1.521551,40.167390,39.746204,21.166533,53.442992
min,1.000000,9.600000,15.000000,1.000000,3.550000,3.450000,0.850000,0.000000
25%,1275.750000,18.200000,43.000000,1.805556,40.725000,38.950000,8.450000,62.000000
50%,2550.500000,22.100000,58.000000,2.500000,60.650000,59.050000,18.750000,87.000000
75%,3825.250000,26.000000,74.000000,3.305556,85.000000,82.350000,33.050000,133.000000
max,5100.000000,33.400000,100.000000,14.000000,258.850000,256.050000,160.550000,398.000000

In [13]:
df['timestamp'] = (
    pd.to_datetime(df['timestamp'], utc=True, errors='coerce')
        .dt.tz_convert('Asia/Kolkata')
)

In [14]:
df.isna().sum()

id                  0
city                0
timestamp           0
temperature         0
humidity            0
wind_speed          0
pm10                0
pm2_5               0
nitrogen_dioxide    0
ozone               0
dtype: int64

In [15]:
weather_cols = ['temperature','humidity','wind_speed']
df[weather_cols] = df[weather_cols].interpolate(method='linear')

In [16]:
poll_cols = ['pm10','pm2_5','nitrogen_dioxide','ozone']
df[poll_cols] = df[poll_cols].ffill()
df = df.bfill()

In [17]:
df['timestamp'] = pd.to_datetime(df['timestamp'])

df['hour'] = df['timestamp'].dt.hour
df['day'] = df['timestamp'].dt.day
df['month'] = df['timestamp'].dt.month
df['weekday'] = df['timestamp'].dt.day_name()

In [18]:
df

,id,city,timestamp,temperature,humidity,wind_speed,pm10,pm2_5,nitrogen_dioxide,ozone,hour,day,month,weekday
0,1,Ahmedabad,2025-11-16 00:16:38.567400+05:30,20.2,46.0,3.500000,35.85,34.75,26.85,72.0,0,16,11,Sunday
1,2,Bengaluru,2025-11-16 00:16:38.376559+05:30,20.2,88.0,2.888889,44.85,43.15,36.95,53.0,0,16,11,Sunday
2,3,Bhopal,2025-11-16 00:16:38.737303+05:30,18.0,28.0,2.000000,56.95,50.35,20.45,76.0,0,16,11,Sunday
3,4,Chennai,2025-11-16 00:16:38.355079+05:30,27.0,84.0,5.611111,59.25,50.05,8.05,113.0,0,16,11,Sunday
4,5,Dehradun,2025-11-16 00:16:38.785387+05:30,11.4,55.0,2.194444,53.05,51.85,34.55,105.0,0,16,11,Sunday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5095,5096,Lucknow,2025-12-01 12:26:21.755872+05:30,24.3,29.0,3.194444,77.95,77.45,17.35,49.0,12,1,12,Monday
5096,5097,Mumbai,2025-12-01 12:26:21.519546+05:30,31.4,31.0,1.388889,50.65,50.35,36.05,51.0,12,1,12,Monday
5097,5098,Patna,2025-12-01 12:26:21.761802+05:30,25.2,47.0,3.611111,99.35,99.15,22.35,47.0,12,1,12,Monday
5098,5099,Pune,2025-12-01 12:26:21.688999+05:30,26.3,33.0,2.000000,52.65,52.15,18.25,84.0,12,1,12,Monday
5099,5100,Surat,2025-12-01 12:26:21.924531+05:30,28.9,33.0,3.305556,43.85,43.45,16.35,65.0,12,1,12,Monday

In [19]:
print(df['timestamp'].head())
print(df['timestamp'].tail())

0   2025-11-16 00:16:38.567400+05:30
1   2025-11-16 00:16:38.376559+05:30
2   2025-11-16 00:16:38.737303+05:30
3   2025-11-16 00:16:38.355079+05:30
4   2025-11-16 00:16:38.785387+05:30
Name: timestamp, dtype: datetime64[ns, Asia/Kolkata]
5095   2025-12-01 12:26:21.755872+05:30
5096   2025-12-01 12:26:21.519546+05:30
5097   2025-12-01 12:26:21.761802+05:30
5098   2025-12-01 12:26:21.688999+05:30
5099   2025-12-01 12:26:21.924531+05:30
Name: timestamp, dtype: datetime64[ns, Asia/Kolkata]

In [20]:
clean_path = r"C:\weather_monitoring_project\Data\clean_data.csv"
df.to_csv(clean_path, index=False)